.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the app takes full viewport height */
}

.main-content {
  flex: 1; /* Ensure the content grows to take available space */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer {
  flex-shrink: 0;
  background-color: #163758;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.icon-style {
  background-color: #551B54;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}

.icon-style:hover {
  animation: none;
  background: #fff;
  color: #551B54;
  border: 2px solid #551B54;
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Responsive layout */
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  .main-content {
    padding: 10px;
    flex-direction: column;
    text-align: center;
  }

  .footer {
    padding: 15px 0;
  }
}
